body {
background-color: #ffffff;
}

a {
  color: currentColor;
text-decoration: none;
}

@font-face {
    font-family: "rank";
    src: url("font/Rabelo_Regular.ttf");
}

@font-face {
  font-family: "key";
  src: url("font/18holes.ttf");
}

@font-face {
    font-family: "title";
    src: url("font/ki_kokumin.ttf");
}

@font-face {
    font-family: "kokugo";
    src: url("font/ki_kokugo.ttf");
}




.app-title{
        font-size: 3rem;
}

.title{
        font-family: title;
        color: #333333;
        font-size: 1.2rem;
}

.Rank {
         font-family: rank;
         font-size: 2rem;
         color: #FF0000;

}

.number{
        font-family: key;
        margin-left: auto;
        margin-right: auto;
        font-size: 4.5rem;
        text-align: center;
}

.answer{
  font-family: title;
  color: #333333;
  font-size: 2.3rem;

}

.answerbutton{
        font-family: key;
        font-size: 3rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}

.question{
        font-family: kokugo;
        font-size: 1.5rem;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
}

.white{
      color: white;
}
