body {
background-color: #ffffff;
}

@font-face {
    font-family: "Rank";
    src: url("font/Valentina-Regular.ttf");

    font-family: "number";
    src: url("font/18holes.ttf");

}

.Rank {
         font-family: Rank ;

}

.number{
        margin-left: auto;
        margin-right: auto;
        font-family: number;
        font-size: 4.5rem;
        text-align: center;
}

.question{
        font-size: 2rem;
        text-align:center;

}

.white{
      color: white;
}
